@model DocsRd.Models.RdInf
<style type="text/css">
    #views_rd_inf .hidden {
        display: none;
    }

    #views_rd_inf .edit .header {
        padding: 4px;
        text-align: right;
    }

    #views_rd_inf .edit .data {
        border: 1px solid black;
        padding: 2px;
    }

        #views_rd_inf .edit .data input {
            width: 200px;
        }

            #views_rd_inf .edit .data input.err {
                background-color: #ffcccc;
            }

            #views_rd_inf .edit .data input.changed {
                background-color: #ccffcc;
            }
</style>
<div id="views_rd_inf">
    <input type="button" value="Сохранить" disabled /><br />
    <table>
        <tr class="edit">
            <td class="header">Номер</td>
            <td class="data"><input type="text" name="номер" value="@Model.Номер" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Дата регистрации</td>
            <td class="data"><input type="text" class="date" name="дата_регистрации" value="@(Model.ДатаРегистрации == null ? "" : Model.ДатаРегистрации.Value.ToString("dd.MM.yyyy"))" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Дата перерегистрации</td>
            <td class="data"><input type="text" class="date" name="дата_перерегистрации" value="@(Model.ДатаПеререгистрации == null ? "" : Model.ДатаПеререгистрации.Value.ToString("dd.MM.yyyy"))" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Дата окончания</td>
            <td class="data"><input type="text" class="date" name="дата_окончания" value="@(Model.ДатаОкончания == null ? "" : Model.ДатаОкончания.Value.ToString("dd.MM.yyyy"))" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Комментарий</td>
            <td class="data"><input type="text" name="комментарий" value="@Model.Комментарий" /></td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var ViewsRdInf = (function () {
        let mainDiv = $('div#views_rd_inf');
        let saveButton = mainDiv.find('input[type="button"]');
        let номер = mainDiv.find('input[name="номер"]');
        let дата_регистрации = mainDiv.find('input[name="дата_регистрации"]');
        let дата_перерегистрации = mainDiv.find('input[name="дата_перерегистрации"]');
        let дата_окончания = mainDiv.find('input[name="дата_окончания"]');
        let комментарий = mainDiv.find('input[name="комментарий"]');

        mainDiv.find('input[type="text"].date').keyup(function () {
            let e = $(this);
            if (e.val() == '') {
                e.removeClass('err');
            } else {
                let d = Nskd.parseDate(e.val());
                if (d == null) {
                    e.addClass('err');
                }
                else {
                    e.removeClass('err');
                }
            }
        });
        mainDiv.find('input[type="text"].date').focusout(function () {
            let e = $(this);
            if (e.val() == '') {
                e.removeClass('err');
            } else {
                let d = Nskd.parseDate(e.val());
                if (d == null) {
                    e.val('').addClass('err');
                }
                else {
                    let dd = d.getDate(); dd = (dd < 10) ? '0' + dd : '' + dd;
                    let MM = d.getMonth() + 1; MM = (MM < 10) ? '0' + MM : '' + MM;
                    let yyyy = d.getFullYear();
                    e.val(dd + '.' + MM + '.' + yyyy).removeClass('err');
                }
            }
        });
        mainDiv.find('input[type="text"]').change(function () {
            let e = $(this);
            e.addClass('changed');
            saveButton.prop('disabled', false);
        });

        saveButton.click(function () {
            saveButton.prop('disabled', true);
            let path = $('div#views_home_rd_index > div.inf > div.path').text();
            let data = {
                path: path,
                номер: номер.val(),
                дата_регистрации: (дата_регистрации.hasClass('err')) ? '' : дата_регистрации.val(),
                дата_перерегистрации: (дата_перерегистрации.hasClass('err')) ? '' : дата_перерегистрации.val(),
                дата_окончания: (дата_окончания.hasClass('err')) ? '' : дата_окончания.val(),
                комментарий: комментарий.val()
            };
            data = 'data=' + Nskd.Json.toString(data);
            //alert(data);
            $.post('/rd/setfileinfo', data, function (data) {
                //alert(data);
                DocsRdViewsHomeRd.fileSystemRowClick(path, 'file');
            });
            номер.removeClass('changed').val('');
            дата_регистрации.removeClass('changed').removeClass('err').val('');
            дата_перерегистрации.removeClass('changed').removeClass('err').val('');
            дата_окончания.removeClass('changed').removeClass('err').val('');
            комментарий.removeClass('changed').val('');
        });
    })();
</script>